# Next
NEXT_TELEMETRY_DISABLED=1

# App
APP_NAME="HRIS - TEST"

# API
API_BASE_URL=http://localhost:8080/api/v1
API_CLIENT_ID=test
API_CLIENT_SECRET=test_secret
API_PLATFORM_ID=abc_123

# Mock API
MOCK_API_BASE_URL=
MOCK_API_CLIENT_ID=
MOCK_API_CLIENT_SECRET=
